# ============================================
# OSINTng - Variables de Entorno
# ============================================
# NUNCA subas este archivo a Git
# Agregalo a .gitignore

# Django
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=cambia-esto-por-una-key-segura-de-50-caracteres
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=plataforma_osint
DB_USER=osintng
DB_PASSWORD=osintng_secret_2026
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
